{% load soccer_extras %}
<div class="card mt-3 border-success">
    <div class="card-header bg-success bg-opacity-75 text-white fw-semibold fs-4">
        {{ game.name }}
    </div>
    <a class="text-black" style="text-decoration: none;" href="/game/{{game.id}}">
        <div class="card-body game-body">
            <h4 class="card-title">{{ game.date }}</h4>
            <h5 class="card-subtitle">{{ game.location }}</h5>
            <div class="card-text mt-3">
                <div><strong class="me-2">Organizer:</strong>{{ game.get_creator }}</div>
                <div><strong class="me-2">Team:</strong>{% if game.team %}{{ game.team.name }}{% else %}Not a team{% endif %}</div>
                <div><strong class="me-2">Spaces left:</strong>{{ game.max_player_num|subtract:game.total_players }} / {{game.max_player_num}}</div>
                <div><strong class="me-2">Number of teams:</strong>{{ game.team_num }}</div>
                <div><strong class="me-2">Description:</strong>{{ game.description }}</div>
                <div class="mt-3 fst-italic helper-text">Click on the game container body to see the details</div>
            </div>
        </div>
    </a>
    <div class="card-footer">
        <div class="w-fit ms-auto">
            {% if request.path == '/' %}
            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteGame{{ game.id }}ConfirmationModal">Delete game</button>
            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#editGame{{ game.id }}FormModal">Edit game</button>
            {% else %}
            <a href="/game/{{ game.id }}" type="button" class="btn btn-secondary btn-sm">View details</a>
            <a href="/join_game/{{ game.id }}" type="button" class="btn btn-success btn-sm {% if soccer_user in game.get_players %}disabled{% endif %}">Join game</a>
            {% endif %}
        </div>
    </div>
</div>