{% extends 'base.html' %}
{% block title %}Reset Password{% endblock %}
{% block content %}
<div class="container-sm">
    <form class="box-container col-xl-6" id="reset-password-form" action="/reset_password" method="post">
        <h1 class="mb-4">Reset password for your account</h1>
        {% csrf_token %}
        <!-- This message is shown if a player is logging in to join a game/group -->
        {% include 'soccer/components/message/redirect_message.html' %}
        <!-- Reset password status message -->
        {% include 'soccer/components/message/status_message.html' %}
        <div class="mb-3">
            <label>Phone number:</label>
            <input type="text" class="form-control {% if reset_password_phone_number %}d-none{% endif %}" name="phone_number" {% if reset_password_phone_number %}value="{{ reset_password_phone_number }}"{% endif %} pattern="[0-9]{10}" title="Phone number should be 10 digits" placeholder="Phone number should be 10 digits" required>
        </div>

        {% if reset_password_phone_number %}
        {% if not phone_number_verified %}
        <p>We just sent you a confirmation code to {{ reset_password_phone_number }}. Please type in the code below</p>
        <div class="mb-3">
            <label>Confirmation code:</label>
            <input type="text" class="form-control" name="confirmation_code" pattern="[a-z]{10}" title="Confirmation code to verify phone number" placeholder="Confirmation code should be 10 lowercase letters" required>
        </div>
        {% endif %}
        {% endif %}

        {% if reset_password_phone_number %}
        {% if phone_number_verified %}
        <div class="mb-3">
            <label>Password:</label>
            <input type="password" class="form-control" name="password" title="Password to log in" required placeholder="Password">
        </div>
        <div class="mb-3">
            <label>Confirm Password:</label>
            <input type="password" class="form-control" name="confirm_password" title="Make sure the passwords match" required placeholder="Make sure this matches the password above">
        </div>
        {% endif %}
        {% endif %}

        <div class="form-text mb-1">Already have an account? Click <a href="/login">here</a> to log in.</div>
        <div class="form-text mb-3">Don't have an account? Click <a href="/signup">here</a> to sign up.</div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}