{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<!-- Form to edit each game -->
{% for game in your_games %}
{% include 'soccer/components/form/game.html' %}
{% endfor %}

<!-- Form to edit each group -->
{% for group in your_groups_as_captain %}
{% include 'soccer/components/form/group.html' %}
{% endfor %}

{% for group in your_groups_as_cocaptain %}
{% include 'soccer/components/form/group.html' %}
{% endfor %}

<!-- Confirmation model for deleting games -->
{% for game in your_games %}
{% include 'soccer/components/modal/delete_game.html' %}
{% endfor %}

<!-- Confirmation model for deleting groups -->
{% for group in your_groups_as_captain %}
{% include 'soccer/components/modal/delete_group.html' %}
{% endfor %}


<div class="container mt-150">
    <!-- Game create status message -->
    {% include 'soccer/components/message/status_message.html' %}

    
    <!-- Button trigger modal -->
    {% comment %}
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createGameFormModal">
        Create game
    </button>
    {% endcomment %}

    <!-- Actions menu bar -->
    {% include 'soccer/components/menu/actions.html' %}
    
    <!-- Display of games -->
    <div class="game-containers mt-5">
        <h1>Games organized by you</h1>
        {% if your_games|length > 0 %}
        {% for game in your_games %}
        {% include 'soccer/components/container/game.html' %}
        {% endfor %}
        {% else %}
        <div class="mt-5 text-center fs-5">No game found. Use to the 'Menu' button on the top right corner to create one</div>
        {% endif %}
    </div>
    
    <!-- Display groups where user is a captain -->
    <div class="group-as-captain-containers d-none mt-5">
        <h1>Groups that you are a captain of</h1>
        {% if your_groups_as_captain|length > 0 %}
        {% for group in your_groups_as_captain %}
        {% include 'soccer/components/container/group.html' %}
        {% endfor %}
        {% else %}
        <div class="mt-5 text-center fs-5">No group found. Use to the 'Menu' button on the top right corner to create one</div>
        {% endif %}
    </div>
    
    <!-- Display groups where user is a co-captain -->
    <div class="group-as-cocaptain-containers d-none mt-5">
        <h1>Groups that you are a co-captain of</h1>
        {% if your_groups_as_cocaptain|length > 0 %}
        {% for group in your_groups_as_cocaptain %}
        {% include 'soccer/components/container/group.html' %}
        {% endfor %}
        {% else %}
        <div class="mt-5 text-center fs-5">You are not a co-captain of any group</div>
        {% endif %}
    </div>

    <!-- Display requests to join groups -->
    <div class="group-requests d-none mt-5">
        <h1>Pending requests</h1>
        {% if group_requests|length == 0 %}
        <div class="mt-5 text-center fs-5">No pending request</div>
        {% else %}
        {% for group_request in group_requests %}
        {% include 'soccer/components/container/request.html' %}
        {% endfor %}
        {% endif %}
    </div>
    
</div>
{% endblock %}
{% block script %}
{% load static %}
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}