{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<!-- Form to create a new game -->
{% include 'soccer/components/form/game.html' %}

<!-- Form to edit each game -->
{% for game in your_games %}
{% include 'soccer/components/form/game.html' %}
{% endfor %}

<!-- Form to create a new team -->
{% include 'soccer/components/form/group.html' %}

<!-- Confirmation model for deleting games -->
{% for game in your_games %}
<div class="modal fade" id="deleteGame{{ game.id }}ConfirmationModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Delete game {{ game.name }}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        Are you sure you want to delete game <strong>{{ game.name }}</strong>?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a href="/delete_game/{{ game.id }}" type="button" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>
{% endfor %}


<div class="container mt-150">
    <!-- Game create status message -->
    {% if message %}
    {% if success %}
    <div class="alert alert-success" role="alert">
        {{message}}
    </div>
    {% else %}
    <div class="alert alert-danger" role="alert">
        {{message}}
    </div>
    {% endif %}
    {% endif %}

    
    <!-- Button trigger modal -->
    {% comment %}
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createGameFormModal">
        Create game
    </button>
    {% endcomment %}

    {% include 'soccer/components/menu/actions.html' %}
    
    <!-- Display of games -->
    <div class="game-containers mt-5">
        <h1>Your games</h1>
        {% for game in your_games %}
        {% include 'soccer/components/container/game.html' %}
        {% endfor %}
    </div>
    {% if your_groups_as_captain|length > 0 %}
    <div class="group-as-captain-containers d-none mt-5">
        <h1>Groups that you are a captain of</h1>
        {% for group in your_groups_as_captain %}
        {% include 'soccer/components/container/group.html' %}
        {% endfor %}
    </div>
    {% endif %}

    {% if your_groups_as_cocaptain|length > 0 %}
    <div class="group-as-cocaptain-containers d-none mt-5">
        <h1>Groups that you are a co-captain of</h1>
        {% for group in your_groups_as_cocaptain %}
        {% include 'soccer/components/container/group.html' %}
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
{% block script %}
{% load static %}
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}