{% extends 'base.html' %}
{% load soccer_extras %}
{% block title %}{{ game_detail.name }}{% endblock %}
{% block content %}
<!-- Modal for editing players in teams -->
{% for team in game_detail.get_teams %}
<div class="team-builder-modal modal fade" id="teamBuilderModal{{ team.id }}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Edit team {{ team.team_number }}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h5>Bench</h5>
            <div class="fs-6 fst-italic fw-light">Click on a player to put them into the team</div>
            <div class="bench-player-container row mt-2">
                {% for player in game_detail.get_bench.players.all %}
                <div class="bench-player tag-container w-fit bg-light text-center mt-1" player-id="{{ player.id }}">{{ player.name }}</div>
                {% endfor %}
            </div>
            <h5 class="mt-3">Team players</h5>
            <div class="fs-6 fst-italic fw-light">Click 'X' next to a player's name to remove the player from the team</div>
            <div class="team-player-container mt-2" team-color="{{ team.get_color }}">
                {% if team.players.count == 0 %}
                <div class="empty-team-text mt-1 text-center">No player</div>
                {% else %}
                {% for player in team.players.all %}
                <div class="team-player tag-container {{ team.get_color }} text-center mt-1 position-relative" player-id="{{ player.id }}">{{ player.name }}<span class="position-absolute end-3"><button type="button" class="remove-team-player-btn btn-close" aria-label="Close"></button></span></div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <form action="/update_players/{{ game_detail.id }}" method="post">
            {% csrf_token %}
            <input type="hidden" name="team_number" value="{{ team.team_number }}">
            <input type="hidden" name="players" class="player-ids-input" value="{{ team.get_player_ids }}">
            <button type="submit" class="btn btn-primary">Save changes</button>
          </form>
        </div>
      </div>
    </div>
</div>
{% endfor %}

<div class="container mt-150">
    <!-- Team edit status message -->
    {% include 'soccer/components/message/status_message.html' %}

    <div class="box-container">
        <h2 class="text-underline">{{ game_detail.name }}</h1>
        <h4 class="text-muted">{{ game_detail.location }}</h4>
        <div class="mt-3">
            <div class="row">
                <div class="col-md-6"><strong class="me-2">Organizer:</strong>{{ game_detail.get_creator }}</div>
                <div class="col-md-6"><strong class="me-2">Team:</strong>{% if game_detail.team %}{{ game_detail.team.name }}{% else %}Not a team{% endif %}</div>
            </div>
            <div class="row">
                <div class="col-md-6"><strong class="me-2">Spaces left:</strong>{{ game_detail.max_player_num|subtract:game_detail.total_players }}</div>
                <div class="col-md-6"><strong class="me-2">Number of teams:</strong>{{ game_detail.team_num }}</div>
            </div>
            <div class="mt-2"><strong class="me-2">Description:</strong>{{ game_detail.description }}</div>
        </div>
        {% if user in game_detail.organizers.all %}
        <div class="mt-3">
            <div class="fs-6 fw-bold">Join link:</div>
            <div class="link-container position-relative"><span class="join-link">https://{{ request.get_host }}/join_game/{{ game_detail.id }}</span><span class="position-absolute copy-link">Copy</span></div>
        </div>
        {% endif %}
        <div class="mt-3">
            <div>
                <h5>Bench</h5>
                <div class="row">
                    {% for player in game_detail.get_bench.players.all %}
                    <div class="col-4 col-lg-2 tag-container bg-light text-center mt-1">{{player.name}}</div>
                    {% endfor %}
                </div>
                <div class="mt-3 fs-6 fst-italic">Captain will put you in a team</div>
            </div>
            <div class="mt-3">
                <div class="row">
                    {% for team in game_detail.get_teams %}
                    <div class="col-6 col-lg-{{team.get_team_num_on_a_row_lg}} mt-1">
                        <h5>Team {{ team.team_number }}{% if user in game_detail.organizers.all %}<span><button type="button" class="ms-3 btn btn-sm btn-outline-primary border-blue-200 text-blue-200" data-bs-toggle="modal" data-bs-target="#teamBuilderModal{{ team.id }}">Edit players</button></span>{% endif %}</h5>
                        {% for player in team.players.all %}
                        <div class="tag-container {{team.get_color}} text-center mt-1">{{player.name}}</div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // Copy the invite link when clicking on "copy"
    $('.copy-link').click(function() {
        const link = $('.join-link').text()
        navigator.clipboard.writeText(link);
        $(this).text('Copied');
        $(this).css({'color': 'black'})
    })
    

    const addPlayerToTeam = el => {
        // Get player name, remove bench player
        const playerId = el.attr('player-id');
        const playerName = el.text();
        const teamBuilderModal = el.closest('.team-builder-modal');
        const teamPlayerContainer = teamBuilderModal.find('.team-player-container');
        el.remove();
        
        // Remove 'No player found' text if there is one
        const emptyTeamText = teamPlayerContainer.children('.empty-team-text');
        if (emptyTeamText.length !== 0) {
            emptyTeamText.remove();
        }

        // Add player to the team
        const teamColor = teamPlayerContainer.attr('team-color');
        teamPlayerContainer.append(`<div class="team-player tag-container ${teamColor} text-center mt-1" player-id="${playerId}">${playerName}<span class="position-absolute end-3"><button type="button" class="remove-team-player-btn btn-close" aria-label="Close"></button></span></div>`);
        teamPlayerContainer.find('.team-player:last-child .remove-team-player-btn').click(function () {
            removePlayerFromTeam($(this));
        })

        // Add player to input field value to send to backend
        const playerIdsInput = teamBuilderModal.find('.player-ids-input');
        playerIdsInput.val(`${playerIdsInput.val()},${playerId}`);
    }

    const removePlayerFromTeam = el => {
        // Remove the player from the team
        const teamPlayer = el.parent().parent();
        const playerId = teamPlayer.attr('player-id');
        const playerName = teamPlayer.text();
        teamPlayerContainer = teamPlayer.closest('.team-player-container');
        teamPlayer.remove();

        // Remove the id from the player ids input field
        const teamBuilderModal = teamPlayerContainer.closest('.team-builder-modal');
        const playerIdsInput = teamBuilderModal.find('.player-ids-input');
        let playerIdsValueArr = playerIdsInput.val().split(',');
        const playerIdIndex = playerIdsValueArr.indexOf(playerId);
        playerIdsValueArr.splice(playerIdIndex, 1);
        playerIdsInput.val(playerIdsValueArr.join(','));
        
        // Add a 'No player' text if there is no player left in the team
        if (teamPlayerContainer.find('.team-player').length === 0) {
            teamPlayerContainer.append(`<div class="empty-team-text mt-1 text-center">No player</div>`)
        }

        // Add player to the bench
        const benchPlayerContainer = teamBuilderModal.find('.bench-player-container');
        benchPlayerContainer.append(`<div class="bench-player tag-container w-fit bg-light text-center mt-1" player-id="${playerId}">${playerName}</div>`);
        benchPlayerContainer.children('.bench-player:last-child').click(function() {
            addPlayerToTeam($(this));
        })
    }

    // Move a player from bench to team when clicking on that player
    $('.team-builder-modal .bench-player').click(function() {
        addPlayerToTeam($(this));
    })

    // Click on the 'X' button in a player's container removes the player from the team and put the player on the bench
    $('.team-builder-modal .remove-team-player-btn').click(function () {
        removePlayerFromTeam($(this));
    })
</script>
{% endblock %}