{% extends 'base.html' %}
{% block title %}All games{% endblock %}
{% block content %}

<!-- Form to create a new game -->
{% include 'soccer/components/form/game.html' %}

<div class="container mt-100">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createGameFormModal">
        Create game
    </button>
    
    <!-- Display of games -->
    <div class="mt-5">
        {% for game in all_games %}
        {% include 'soccer/components/container/game.html' %}
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block script %}
{% load static %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}