{% extends 'base.html' %}
{% load soccer_extras %}
{% block title %}{{ group_detail.name }}{% endblock %}
{% block content %}
<!-- Modal for removing a member from a group -->
{% include 'soccer/components/modal/remove_player_modal.html' %}

<div class="container mt-150">
    <!-- Group edit status message -->
    {% include 'soccer/components/message/status_message.html' %}

    <!-- Group details -->
    <div class="box-container">
        <h2 class="text-underline">{{ group_detail.name }}</h1>
        <div class="mt-3">
            <div class="row">
                <div class="col-md-6"><strong class="me-2">Captain:</strong><span style="cursor: default;font-weight: 500;text-decoration: underline;" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Phone number: {{ group_detail.get_captain.user.phone_number }}">{{ group_detail.get_captain.user }}</span></div>
                <div class="col-md-6"><strong class="me-2">Co-captains:</strong>{{ group_detail.get_cocaptains_str }}</div>
            </div>
            <div class="row">
                <div class="col-md-6"><strong class="me-2">Spaces left:</strong>{% if group_detail.max_member_num %}{{ group_detail.max_member_num|subtract:group_detail.members.count }} / {{group_detail.max_member_num}}{% else %}Unlimited{% endif %}</div>
            </div>
            <div class="mt-2"><strong class="me-2">Description:</strong>{{ group_detail.description }}</div>
            {% if soccer_user in group_detail.get_admins %}
            <div class="mt-3">
                <div class="fs-6 fw-bold">Join link:</div>
                <div class="link-container position-relative"><span class="join-link">https://{{ request.get_host }}/join_group/{{ group_detail.id }}</span><span class="position-absolute copy-link">Copy</span></div>
            </div>
            {% endif %}
        </div>
    </div>

    <label class="fs-5 me-2 mt-5">View:</label>
    <select class="custom-select-tag mt-5">
        <option value="games" selected>Games</option>
        <option value="members">Members</option>
    </select>

    <!-- Group members -->
    <div class="member-container box-container mt-3 d-none">
        <h1 class="mb-3">Members {% if soccer_user in group_detail.get_admins %}<span><button type="button" id="member-edit-btn" class="ms-3 btn btn-sm btn-outline-primary border-blue-200 text-blue-200">Edit members</button></span>{% endif %}</h1>
        <div class="row">
            {% for member in group_detail.members.all %}
            <div class="col-6 tag-container text-center mt-1 bg-blue-200 position-relative" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Phone number: {{ member.phone_number }}">{{member}}{% if soccer_user in group_detail.get_admins %}{% if member != soccer_user %}<span class="position-absolute end-3"><button member-id="{{ member.id }}" member-name="{{ member }}" group-id="{{ group_detail.id }}" type="button" class="remove-member-btn btn-close d-none" aria-label="Close" data-bs-toggle="modal" data-bs-target="#removeMemberModal"></button></span>{% endif %}{% endif %}</div>
            {% endfor %}
        </div>
    </div>

    <div class="game-container mt-3">
        <h1 class="mb-3">Group games</h1>
        {% if group_detail.game_set.count != 0 %}
        {% for game in group_detail.game_set.all %}
        {% include 'soccer/components/container/game.html' %}
        {% endfor %}
        {% else %}
        <p class="fs-4 text-center">No games found</p>
        {% endif %}
    </div>
</div>

<script>
    // Copy the invite link when clicking on "copy"
    $('.copy-link').click(function() {
        const link = $('.join-link').text()
        navigator.clipboard.writeText(link);
        $(this).text('Copied');
        $(this).css({'color': 'black'})
    })

    // Allow removing members from a group when clicking on "Edit members"
    $('#member-edit-btn').click(function() {
        if (!$(this).hasClass('active')) {
            $(this).addClass('active');
            $('.remove-member-btn').removeClass('d-none');
        } else {
            $(this).removeClass('active');
            $('.remove-member-btn').addClass('d-none');
        }
    })

    // Clicking on an "X" in a member tag would make a modal that confirms
    // member removal from the group visible
    $('.remove-member-btn').click(function() {
        const memberId = $(this).attr('member-id');
        const memberName = $(this).attr('member-name');
        const groupId = $(this).attr('group-id')
        const removeMemberModalBody = $("#removeMemberModal .modal-body");
        const removeMemberModalConfirmBtn = $("#removeMemberModal .btn-danger");
        removeMemberModalBody.empty();
        removeMemberModalBody.append(`Are you sure you want to remove <span class="fw-semibold">${memberName}</span> from this group?`)
        removeMemberModalConfirmBtn.attr('href', `/remove_member_from_group/${groupId}/${memberId}`)
    })
    
    // Toggle viewing games and members
    $('.custom-select-tag').on('change', function() {
        const value = $(this).val();
        if (value === 'games') {
            $('.game-container').removeClass('d-none');
            $('.member-container').addClass('d-none');
        } else {
            $('.game-container').addClass('d-none');
            $('.member-container').removeClass('d-none');
        }
    })
</script>
{% endblock %}