{% extends 'base.html' %}
{% block title %}Groups{% endblock %}
{% block content %}
<div class="container mt-150">
    <label class="fs-5 me-2 mt-5">View:</label>
    <select class="custom-select-tag mt-5">
        <option value="yours" selected>Your groups</option>
        <option value="all">Browse groups</option>
    </select>

    <!-- Display of all groups -->
    <div class="mt-5 all-groups-container d-none">
        {% for group in all_groups %}
        <!-- Only render groups that still have spaces -->
        {% if group.max_member_num %}
        {% if group.members.count < group.max_member_num %}
        {% include 'soccer/components/container/group.html' %}
        {% endif %}
        {% else %}
        {% include 'soccer/components/container/group.html' %}
        {% endif %}
        {% endfor %}
    </div>

    <!-- Display of your groups -->
    <div class="mt-5 your-groups-container">
        {% for group in all_groups %}
        {% if user in group.members.all %}
        {% include 'soccer/components/container/group.html' %}
        {% endif %}
        {% endfor %}
    </div>
</div>

<script>
    // Toggle viewing your groups or all groups
    $('.custom-select-tag').on('change', function() {
        const value = $(this).val();
        if (value === 'yours') {
            $('.your-groups-container').removeClass('d-none');
            $('.all-groups-container').addClass('d-none');
        } else {
            $('.your-groups-container').addClass('d-none');
            $('.all-groups-container').removeClass('d-none');
        }
    })
</script>
{% endblock %}