{% extends 'base.html' %}
{% block title %}Groups{% endblock %}
{% block content %}
<div class="container mt-150">
    <!-- Game create status message -->
    {% include 'soccer/components/message/status_message.html' %}

    <!-- Render forms for editing groups -->
    {% for group in all_groups %}
    {% if soccer_user in group.get_admins %}
    {% include 'soccer/components/form/group.html' %}
    {% endif %}
    {% endfor %}

    <!-- Render modal for deleting groups. Only captains can delete their groups -->
    {% for group in all_groups %}
    {% if soccer_user == group.get_captain.user %}
    {% include 'soccer/components/modal/delete_group.html' %}
    {% endif %}
    {% endfor %}

    <label class="fs-5 me-2 mt-5">View:</label>
    <select class="custom-select-tag mt-5">
        <option value="all" selected>All groups</option>
        <option value="yours">Your groups</option>
        <option value="others">Other groups</option>
    </select>

    <!-- Display of your groups -->
    <div class="mt-5 your-groups-container">
        <h1>Your groups</h1>
        {% for group in all_groups %}
        {% if soccer_user in group.members.all %}
        {% include 'soccer/components/container/group.html' %}
        {% endif %}
        {% endfor %}
    </div>

    <!-- Display of all groups -->
    <div class="mt-5 other-groups-container">
        <h1>Other groups that you can join</h1>
        {% for group in all_groups %}
        {% if soccer_user not in group.members.all %}
        <!-- Only render groups that still have spaces -->
        {% if group.max_member_num %}
        {% if group.members.count < group.max_member_num %}
        {% include 'soccer/components/container/group.html' %}
        {% endif %}
        {% else %}
        {% include 'soccer/components/container/group.html' %}
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>
</div>

<script>
    // Render a text if player hasn't joined any group
    if ($('.your-groups-container .card').length == 0) {
        $('.your-groups-container').append(`<div class="mt-5 text-center fs-5">You haven't joined any group</div>`)
    }

    // Render a text if there is no group
    if ($('.other-groups-container .card').length == 0) {
        $('.other-groups-container').append(`<div class="mt-5 text-center fs-5">No group found</div>`)
    }

    // Toggle viewing your groups or all groups
    $('.custom-select-tag').on('change', function() {
        const value = $(this).val();
        if (value === "all") {
            $('.your-groups-container').removeClass('d-none');
            $('.other-groups-container').removeClass('d-none');
        } else if (value === 'yours') {
            $('.your-groups-container').removeClass('d-none');
            $('.other-groups-container').addClass('d-none');
        } else {
            $('.your-groups-container').addClass('d-none');
            $('.other-groups-container').removeClass('d-none');
        }
    })
</script>
{% endblock %}