{% extends 'base.html' %}
{% load soccer_extras %}
{% block title %}Homepage{% endblock %}
{% block content %}
<!-- Modal to create a new game -->
<div class="modal fade" id="gameFormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Create a game</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/create_game/" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Name:</label>
                        <input type="text" name="name" class="form-control" placeholder="Short name for people to recognize your game" required maxlength="50">
                    </div>

                    <input type="hidden" name="team">

                    <div class="mb-3">
                        <label class="form-label">Date:</label>
                        <input type="datetime-local" name="date" id="game-form-date" class="form-control" required>
                        <div class="form-text">Date time of the game</div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Location:</label>
                        <input type="text" name="location" class="form-control" placeholder="Where is this game taking place?" required maxlength="200">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Maximum number of players:</label>
                        <input type="number" name="max_player_num" class="form-control" value="16" required maxlength="50">
                        <div class="form-text">Specify the maximum number of players for the game</div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Number of teams:</label>
                        <input type="number" name="team_num" class="form-control" value="2" required min="1">
                        <div class="form-text">Specify how many teams there are in the game. Select <strong>1</strong> if you need players for your team to play against some other team</div>
                    </div>

                    <div class="mb-3 form-check">
                        <input type="checkbox" name="visible_to_everyone" class="form-check-input" checked>
                        <label class="form-check-label">Visible to everyone</label>
                        <div class="form-text">Check if everyone can see this game. Otherwise you will have to invite people by sending the invite link</div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Description:</label>
                        <textarea name="description" class="form-control" rows="4" maxlength="300" placeholder="Talk a bit about the game (rules, game level, fees,...)"></textarea>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#gameFormModal">
        Create game
    </button>
    
    <!-- Display of games -->
    <div class="mt-5">
        {% for game in all_games %}
        <div class="card mt-3 border-success">
            <div class="card-header bg-success bg-opacity-75 text-white fw-semibold fs-4">
                {{ game.name }}
            </div>
            <a class="text-black" style="text-decoration: none;" href="/game/{{game.id}}/">
                <div class="card-body game-body">
                    <h4 class="card-title">{{ game.date }}</h4>
                    <h5 class="card-subtitle">{{ game.location }}</h5>
                    <div class="card-text mt-3">
                        <div><strong class="me-2">Organizer:</strong>{{ game.get_creator }}</div>
                        <div><strong class="me-2">Team:</strong>{% if game.team %}{{ game.team.name }}{% else %}Not a team{% endif %}</div>
                        <div><strong class="me-2">Spaces left:</strong>{{ game.max_player_num|subtract:game.total_players }}</div>
                        <div><strong class="me-2">Number of teams:</strong>{{ game.team_num }}</div>
                        <div><strong class="me-2">Description:</strong>{{ game.description }}</div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block script %}
{% load static %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}