<div class="modal fade" id="remove{% if game_detail %}Player{% else %}Member{% endif %}Modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="removePlayerModal">Remove {% if game_detail %}player{% else %}member{% endif %}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            Are you sure you want to remove X from this group?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a type="button" class="btn btn-danger">Confirm</a>
            </div>
        </div>
    </div>
</div>