/*** Spacings ***/
.mt-100 {
    margin-top: 100px;
}

.mt-150 {
    margin-top: 150px;
}

/*** Background colors ***/
.bg-blue-200 {background-color: rgb(191 219 254);}
.bg-red-200 {background-color: rgb(254 202 202);}
.bg-green-200 {background-color: rgb(187 247 208);}
.bg-yellow-200 {background-color: rgb(254 240 138);}
.bg-purple-200 {background-color: rgb(233 213 255);}
.bg-pink-200 {background-color: rgb(251 207 232);}
.bg-orange-200 {background-color: rgb(254 215 170);}
.bg-teal-200 {background-color: rgb(153 246 228);}

/*** Borders ***/
.border-blue-200 {border: 1px solid rgb(59 130 246);}

/*** Text ***/
/* Text color */
.text-blue-200 {color: rgb(59 130 246);}

/* Text decoration */
.text-underline {
    text-decoration: underline;
}

/*** Positions ***/
.end-3 {
    right: 3%;
}

.end-5 {
    right: 5%;
}

/*** Sizing ***/
.w-fit {
    width: fit-content;
    height: fit-content;
}