<!-- Modal to create a new game -->
<div class="modal fade" id="{% if game %}editGame{{ game.id }}FormModal{% else %}createGameFormModal{% endif %}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{% if game %}Edit game {{ game.name }}{% else %}Create a game{% endif %}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form {% if game %}action="/edit_game/{{ game.id }}/"{% else %}action="/create_game/"{% endif %} method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Name:</label>
                        <input type="text" name="name" {% if game %}value="{{ game.name }}"{% endif %} class="form-control" placeholder="Short name for people to recognize your game" required maxlength="50">
                    </div>

                    <input type="hidden" name="team" {% if game.team %}value="{{ game.team }}"{% endif %}>

                    <div class="mb-3">
                        <label class="form-label">Date:</label>
                        <input type="datetime-local" name="date" {% if game %}value="{{ game.get_date_str }}"{% endif %} id="game-form-date" class="form-control" required>
                        <div class="form-text">Date time of the game</div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Location:</label>
                        <input type="text" name="location" {% if game %}value="{{ game.location }}"{% endif %} class="form-control" placeholder="Where is this game taking place?" required maxlength="200">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Maximum number of players:</label>
                        <input type="number" name="max_player_num" {% if game %}value="{{ game.max_player_num }}"{% endif %} class="form-control" value="16" required maxlength="50">
                        <div class="form-text">Specify the maximum number of players for the game</div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Number of teams:</label>
                        <input type="number" name="team_num" {% if game %}value="{{ game.team_num }}"{% endif %} class="form-control" value="2" required min="1" max="8">
                        <div class="form-text">Specify how many teams there are in the game. Select <strong>1</strong> if you need players for your team to play against some other team</div>
                    </div>

                    <div class="mb-3 form-check">
                        <input type="checkbox" name="visible_to_everyone" {% if game.visible_to_everyone %}checked{% endif %} class="form-check-input" checked>
                        <label class="form-check-label">Visible to everyone</label>
                        <div class="form-text">Check if everyone can see this game. Otherwise you will have to invite people by sending the invite link</div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Description:</label>
                        <textarea name="description" class="form-control" rows="4" maxlength="300" placeholder="Talk a bit about the game (rules, game level, fees,...)">{% if game %}{{ game.description }}{% endif %}</textarea>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">{% if game %}Confirm{% else %}Create{% endif %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>