{% if request.path != '/login/' %}
<a class="btn btn-success" id="menu-btn" data-bs-toggle="offcanvas" href="#menu-bar" role="button">
    Menu
</a>
{% endif %}

  
  <div class="offcanvas offcanvas-start" id="menu-bar" tabindex="-1">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="menu-bar-item" data-bs-toggle="modal" data-bs-target="#createGameFormModal">Create game</div>
      <div class="menu-bar-item" data-bs-toggle="modal" data-bs-target="#createGroupFormModal">Create group</div>
      <a style="text-decoration: none;" class="text-dark" href="{% if request.path == '' %}#games{% else %}/#games{% endif %}">
        <div class="menu-bar-item">View games organized by you</div>
      </a>
      <a style="text-decoration: none;" class="text-dark" href="{% if request.path == '' %}#groups{% else %}/#groups{% endif %}">
        <div class="menu-bar-item">View your groups managed by you</div>
      </a>
    </div>
  </div>